DB_USER=root
DB_PASSWORD=replace-with-local-password
# DB_URL=jdbc:mysql://host.docker.internal:3306/spdb_power_finance?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=false&allowPublicKeyRetrieval=true
